*{
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: #59544B;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contenedor{
    background-color:#F6F5AE ;
    padding: 20px;
    display: flex;
    display: none;
}

#contenedor > .block{
    padding: 20px;

}

.block{
    font-weight: bolder;
}
.block:first-child{
    background-color:#59544B;
    color: #F6F5AE;
}
.information-container{
    display: flex;
}
.info{
    margin-left: 5px;
}
#location{
    font-size: 22px;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  