/* Formato de fuente de la pagina en general*/
*{
    font-family: 'Courier New', Courier, monospace;
}
/* Custom properties*/
:root{
    --blanco: #ffffff;
    --primario: #ffc107;
    --oscuro: #000000;
    --secundario: #0097a7;
    --gris: #757575;
    --grisClaro: #DFE9F3;
}
#titulo{
    justify-content: center;
}

body{
    background-color: var(--grisClaro);
    font-size: 1.6rem;
    line-height: 1.5;

}
#contenedor{
    background-color:var(--primario) ;
    padding: 50px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100rem 100rem;

}



#contenedor-campos{
  justify-content: center;
}


.block{
    font-weight: bolder;
}
.block:first-child{
    background-color:var(--secundario);
    color: var(--oscuro);
    
}
.information-container{
    display: flex;
}
/* Informacion*/
.info{
    margin-left: 5px;
}
/* Location*/
#location{
    font-size: 22px;
}
/* Boton de enviar*/
.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 0px;
    margin-top: 0px;
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: .5rem;
    width: 10%;
    text-align: center;
    border: none;
  }

/* formulario */
.formulario{
    background-color: var(--gris);
    width: min(60rem, 100%);/* utilizar el valor mas pequeño*/
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem ;
    justify-content: center;
  }
  .formulario fieldset{
    border: none;
  }
  
  .formulario legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: var(--primario)
  }



